.header{
	display: flex;
	background-color: #183153;
	color: white;
	padding: 5px;
}

.header .icon{
	font-size: 14px;
	padding: 6px;
	margin-right: 2px;
	cursor: pointer;
}

.header .icon:hover{
	background-color: #1053b1;
	border-radius: 4px;
}

.header-col{
	display: flex;
	flex: 1;
	align-items: center;
}

.header-left{
	justify-content: flex-start;
}

.header-center{
	justify-content: center;
	font-size: 15px;
}

.header-right{
	justify-content: flex-end;
}